location     = "italynorth"
prefix       = "dev-ops-pipeline"
user         = "azure"
pat          = "8UmETIFSpw_Many_Numbers_And_LettersmLY9d32uuX"
org          = "yourCoolOrgAtDevAzureCom"
pool         = "self-hosted-pool"
subscription = "ad3b0215-yourSubscription-14d84afd6960"
devops_project_name = "example"
aks_cluster_name = "example-aks-cluster"